diffrax==0.1.2
dm_haiku==0.0.9
einops==0.7.0
equinox==0.10.1
h5py==3.8.0
imageio==2.26.0
jax==0.4.6
matplotlib==3.5.1
moviepy==1.0.3
numpy==1.24.2
optax==0.1.4
phiflow==2.4.0
scipy==1.9.1
skimage==0.0
tensorflow==2.11.0
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
wandb==0.14.0
